@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.icono__estrellitas{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
header h2{
    padding-bottom: 5px;
}
.cabecera__correo{
    font-weight:bold;
    text-align: right;
}
.caja__Cabecera {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */ 
}
.cabecera__items {
    display: flex;
    justify-content: center;
    padding: auto;
    gap: 10px;
    list-style-type: none; /* Quita los puntos de la lista */
}
.cabecera__correo{
    justify-content: end;
    display: flex;
}

.cabecera__items li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
}

.cabecera__items li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento */
}
.cabecera__items li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #000000; /* Texto negro */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.Info__Principal{
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color:azure
}
.descripcion__principal{
    text-align: center;
    font-size: 50px;
    padding-top: 8px;
}
.descripcion__secundaria{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: normal;
}

.Info__Principal {
    text-align: center; /* Alinea el contenido al centro horizontalmente */
    position: relative; /* Permite posicionar elementos relativos a este div */
}

.redes__container {
    margin-top: 20px; /* Espacio entre la imagen y la lista */
}

.redes__sociales {
    list-style-type: none; /* Quita los puntos de la lista */
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    
}

.redes__sociales li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
}

.redes__sociales li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento */
}

.redes__sociales li a {
    padding-left: 2px;
    display: inline-block; /* Asegura que el enlace tenga ancho y alto */
    width: 40px; /* Ancho del enlace */
    height: 40px; /* Alto del enlace */
    background-size: cover; /* Ajusta el tamaño de la imagen */
}

.icono__flecha {
    width: 20px; /* Ancho del icono de flecha */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.imagen__rostro {
    display: flex;
    margin: auto;
    border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
    width: 150px; /* Ancho de la imagen */
    height: 150px; /* Alto de la imagen */
}

.caja_sobremi{
    padding-top: 10px;
    padding-bottom: 10px; 
}

.sobre__mi {
    border: 3px solid salmon; /* Borde de color azure */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    width: 80%; /* Ancho del section */
    margin: 0 auto; /* Centra horizontalmente */
}

.sobre__mi h2 {
    font-size: 40px;
    margin-top: 0; /* Elimina el margen superior del título */
    text-align: center;
}

.sobre__mi p{
    padding-top: 3px;
    text-align: center;
    font-size: 20px;
}

.caja_skills{
    padding-top: 20px;
    background-color: azure;
    text-align: center; /* Alinea el contenido al centro */
}

.skils h2{
    font-size: 30px;
    text-align: center;
}

.skills__container {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los ítems */
    flex-wrap: wrap; /* Permite que los ítems se envuelvan en múltiples líneas */
}

.Skills__items {
    margin: 10px; /* Espacio entre los ítems */
    text-align: center; /* Alinea el contenido al centro */
}

.Skills__description {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Alinea el texto debajo de la imagen */
    align-items: center; /* Centra los elementos verticalmente */
}

.icono__skill__item {
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.Skills__description p {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
}



.caja_hobbis{
    padding-top: 50px;
    background-color: azure;
    text-align: center; /* Alinea el contenido al centro */
}

.hobbis h2{
    font-size: 30px;
    text-align: center;
}

.hobbis__container {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los ítems */
    flex-wrap: wrap; /* Permite que los ítems se envuelvan en múltiples líneas */
}

.hobbis__items {
    margin: 10px; /* Espacio entre los ítems */
    text-align: center; /* Alinea el contenido al centro */
}

.hobbis__description {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Alinea el texto debajo de la imagen */
    align-items: center; /* Centra los elementos verticalmente */
}

.icono__hobbi__item {
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.hobbis__description p {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
}


.caja__formacion{
    padding-top: 50px;
    background-color: azure;
    text-align: center; /* Alinea el contenido al centro */
}

.mi__Formacion h2{
    font-size: 30px;
    text-align: center;
}

.formacion__container {
    gap: 20px;
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los ítems */
    flex-wrap: wrap; /* Permite que los ítems se envuelvan en múltiples líneas */
}

.formacion__items {
    margin: 10px; /* Espacio entre los ítems */
    text-align: center; /* Alinea el contenido al centro */
}

.formacion__box{
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Alinea el texto debajo de la imagen */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: white; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 200px; /* Ancho del cuadro */
}

.formacion__description {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Alinea el texto debajo de la imagen */
    align-items: center; /* Centra los elementos verticalmente */
}

.icono__formacion__item {
    width: 100px; /* Ancho fijo para todas las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.formacion__items p {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
    font-size: 15px;
    font-style: italic;
}
.formacion__items h3{
    font-weight: bold;
}

.caja__proyectos h2{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.imagen__proyecto {
    padding: 5px;
    width: 600px;
}

.proyecto__numero__secreto {
    gap: 20px;
    padding-top: 20px;
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los ítems */
    flex-wrap: wrap; 
}

.boton_repositorio_Juego,
.boton_demo_Juego {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .caja__proyectos {
        flex-direction: column;
        align-items: center;
    }
    
    .imagen__proyecto {
        padding: 5px 0; /* Ajuste del padding para dispositivos móviles */
        width: 400px;
    }

    footer {
        font-size: 14px;
    }
}
.caja__info_proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caja__info_proyecto h3{
    font-size: 20px;
    font-weight: bold;
}
.caja__info_proyecto p{
    font-size: 15px;
    padding-top: 5px;
    font-style: italic;
}

.boton_repositorio_Juego{
    height: 20px;
    background-color: rgb(11, 14, 194);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 3px;
}

.boton_repositorio_Juego:hover{
    background-color: gray;
}

.boton_demo_Juego{
    height: 20px;
    background-color: azure;
    color: rgb(11, 14, 194);
    padding: 15px 29px;
    text-decoration: none;
    border-radius: 3px;
    border-color: rgb(11, 14, 194);
    border-width: 1px;
    border-style: solid;  
}

.boton_demo_Juego:hover{
    background-color: gray;
}

.proyecto__barberia__alura {
    padding-top: 50px;
    gap: 20px;
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente los ítems */ 
    
}

.info_proyecto{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    align-items: center;
    justify-content: center;
}

.contacto{
    display: flex;
    justify-content: start;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(194, 215, 243);
}
.contact_form{  
  padding-top: 20px;
  width: 460px; 
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color:#fbfbfb; 
  padding-left: 30px; 
}

input{
  display: flex;
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formulario h2{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;
  }
  
  
  .formulario h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }

footer {
    background-color:gray;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}